<p class="typing">
    It's the year 2122. The specific time of year holds little significance, 
    especially when you're light-years away from any weather to experience. 
    You're a scavenger—an explorer of abandoned wrecks, seeking anything of 
    value that was left behind or could be salvaged. Despite the vastness 
    of space, you're not entirely alone on this journey. Most ships come 
    equipped with a standard personality unit known as V.I., a Virtual 
    Intelligence designed to keep you company amidst the cosmic isolation.
    <br> <br>
    You recently received a tip about an abandoned station that reappeared 
    on the radar not too long ago. Rumor has it, something went awry with a 
    wormhole, or perhaps someone clumsily spilled blue milk on the main 
    navigation computer, triggering an emergency hop into the unknown. 
    Regardless of the specifics, what's clear is your desperate need for 
    credits. It's a classic dilemma: risk incurring some hefty Federation 
    fines by illegally salvaging their property, or take the drastic step of 
    selling your starship to avoid a fate where your legs end up resembling 
    jelly.
    <br> <br>
    For you, there seems to be only one viable option...
</p>