<h4>Character Statistics</h4>
<p class="hud">
    <!--Vitals should probably go Healthy > Injured > Wounded > Dead-->
    <p class="hud__health">Vital Signs: Healthy</p>
    <!--Oxygen is a similar system with all actions taking a certain percentage of O2-->
    <p class="hud__oxygen">Oxygen Levels: 100%</p>
    <!--Obviously, either running out is a game over-->
</p>