html {
    height: 100%;
    background-color: #161616;
    color: green;
    font-family: "Terminal", sans-serif;
    font-size: 20px;
    text-align: center; }

body {
    height: 91.25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch; }
    
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.title__button {
    border: none; 
    background-color: #161616; 
    color:goldenrod; 
    font-size:16px; 
    text-align: center; 
    padding-left: 40px;
    padding-right: 40px;
}

.settings {
    font-size: 20px;
    color: forestgreen;
    border: none;
    background-color: #161616;
    padding-bottom: 10px;
}

.feedback {
    font-size: 18px;
    color: red;
}

.journal {
    width: 77.5%;
    flex: 9 1 auto;
    text-align: left;
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 10px;
}

.choices {
    color: goldenrod;
    font-size: 20px;
    text-align: left;
    font-style: italic;
    border: none;
    background-color: #161616;
    padding-bottom: 10px;
}

.menu {
    width: 20%;
    flex: 1 1 auto;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end; }
.menu__settings {
    height: 30%; }
.menu__stats {
    height: 62%; }
.menu__links {
    height: 2%; }

a:link {
    color: rgb(0, 110, 255);
    text-decoration: none; }
a:visited {
    color: rgb(0, 110, 255); }

.hud{
    font-size: 15px; }
.hud__health{
    color:red; }
.hud__oxygen{
    color: aqua; }
.hud__profit{
    color:goldenrod; }