html {
    height: 100%;
    background-color: black;
    color: green;
    font-family: "Terminal", sans-serif;
    font-size: 24px;
    text-align: center; }

body {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch; }

.journal {
    background-color: #161616;
    width: 300px;
    flex: 10 1 auto;
    text-align: left;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 10px;
}

.choices {
    color: aquamarine;
    font-size: 16px;
    text-align: left;
}

.menu {
    width: 300px;
    flex: 1 1 auto;
    justify-content: flex-end;
    flex-direction: column;
}

.menu__settings {
    height: 35%;
    background-color: #161616;
    flex: 1 1 auto;
    justify-content: flex-end;
    flex-direction: column; }

.menu__stats {
    height: 65%;
    background-color: #161616;
    flex: 1 1 auto;
    justify-content: flex-end;
    flex-direction: column; }