<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css" />
        <script src="scripts.js"></script>
        <title>Scavenging Module One</title>
    </head>
    <body>
        <!--<div class="reference">Imagery</div>-->
        <div class="journal">
            <%- include('../partials/journal'); %>
            <div>
                <p id="demo" onclick="logMovies()" class="choices">1. Choice</p>
                <p id="demo" onclick="myFunction()" class="choices">2. Choice</p>
                <% if (bananas === undefined) { %>
                    <p id="demo" onclick="myFunction()" class="choices">3. Choice</p>
                <% } else { %>
                    <p> b-a-n-a-n-a </p>
                <% } %>
            </div>
        </div>
        <div class="menu">
            <div class="menu__settings">
                <%- include('../partials/settings'); %>
            </div>
            <div class="menu__stats">
                <%- include('../partials/stats'); %>
            </div>
            <div class="menu__links">
                <%- include('../partials/footer'); %>
            </div>
        </div>

        <script>
            function myFunction() {
                document.getElementById("demo").innerHTML = "YOU MADE YOUR CHOICE!";
            }

            // async function logMovies() {
            //     const response = await fetch("http://localhost:8060");
            //     // const movies = await response.json();
            //     // console.log(movies);
            // }

            // Example POST method implementation:
            async function logMovies() {
                var url = "http://localhost:8060/"; 
                var data = {banana:"ORANAGE"};
                // Default options are marked with *
                const response = await fetch(url, {
                    method: "GET", // *GET, POST, PUT, DELETE, etc.
                    mode: "cors", // no-cors, *cors, same-origin
                    cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
                    credentials: "same-origin", // include, *same-origin, omit
                    headers: {
                    "Content-Type": "application/json",
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    redirect: "follow", // manual, *follow, error
                    referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                    body: JSON.stringify(data), // body data type must match "Content-Type" header
                });
                console.log("calling logMovies");
                return response.json(); // parses JSON response into native JavaScript objects
            }

        </script>

    </body>
</html>