<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css" />
        <script src="scripts.js"></script>
        <title>Scavenging Module One</title>
    </head>
    <body>
        <!--<div class="reference">Imagery</div>-->
        <div class="journal">
            <%- include('../partials/journal'); %>
            <div>
                <p id="demo" onclick="myFunction()" class="choices">1. Choice</p>
                <p id="demo" onclick="myFunction()" class="choices">2. Choice</p>
                <p id="demo" onclick="myFunction()" class="choices">3. Choice</p>
            </div>
        </div>
        <div class="menu">
            <div class="menu__settings">
                <%- include('../partials/settings'); %>
            </div>
            <div class="menu__stats">
                <%- include('../partials/stats'); %>
                <%- include('../partials/footer'); %>
            </div>
        </div>

        <script>
            function myFunction() {
                document.getElementById("demo").innerHTML = "YOU MADE YOUR CHOICE!";
            }
        </script>

    </body>
</html>