<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/style.css" />
        <script src="scripts.js"></script>
        <title>Scavenging Module One</title>
    </head>
    <body>
        <!--<div class="reference">Imagery</div>-->
        <div class="journal">
            <p class="typing">
                It's the year 2122. The specific time of year holds little significance, 
                especially when you're light-years away from any weather to experience. 
                You're a scavenger—an explorer of abandoned wrecks, seeking anything of 
                value that was left behind or could be salvaged. Despite the vastness 
                of space, you're not entirely alone on this journey. Most ships come 
                equipped with a standard personality unit known as V.I., a Virtual 
                Intelligence designed to keep you company amidst the cosmic isolation.
                <br> <br>
                You recently received a tip about an abandoned station that reappeared 
                on the radar not too long ago. Rumor has it, something went awry with a 
                wormhole, or perhaps someone clumsily spilled blue milk on the main 
                navigation computer, triggering an emergency hop into the unknown. 
                Regardless of the specifics, what's clear is your desperate need for 
                credits. It's a classic dilemma: risk incurring some hefty Federation 
                fines by illegally salvaging their property, or take the drastic step of 
                selling your starship to avoid a fate where your legs end up resembling 
                jelly.
                <br> <br>
                For you, there seems to be only one viable option...
            </p>
            <div>
                <p id="demo" onclick="logMovies()" class="choices">1. Choice</p>
                <p id="demo" onclick="myFunction()" class="choices">2. Choice</p>
                <p id="demo" onclick="myFunction()" class="choices">3. Choice</p>
            </div>
        </div>
        <div class="menu">
            <div class="menu__settings">
                <p>
                    <h4>Game Settings</h4>
                    <!--More than likely, put it into a grid-->
                </p>
            </div>
            <div class="menu__stats">
                <h4>Character Statistics</h4>
                <p class="hud">
                    <!--Vitals should probably go Healthy > Injured > Wounded > Dead-->
                    <p class="hud__health">Vital Signs: Healthy</p>
                    <!--Oxygen is a similar system with all actions taking a certain percentage of O2-->
                    <p class="hud__oxygen">Oxygen Levels: 100%</p>
                    <!--Obviously, either running out is a game over-->
                </p>
            </div>
            <div class="menu__links">
                <footer class="links">
                    <p class="text-center text-muted"><a href="https://github.com/alex-gillis">Github</a></p>
                </footer> 
            </div>
        </div>

        <script>
            function myFunction() {
                document.getElementById("demo").innerHTML = "YOU MADE YOUR CHOICE!";
            }
        </script>

    </body>
</html>